<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="stylesheet" href="public\js\style.css">
</head>  
<header>

  <title>Vintage Arcade Club</title>
      <h1>Vintage Arcade Club</h1> 
          <nav><a href="#">My Library</a></nav>     
</header>

<body>
<div>
  
  <h2><p>Welcome To The Arcade Friend!</p></h2>

</div>
<input type="search" id="search"  name=" " placeholder="Browes For A Video Game?">
<button id = "searchBtn">Search Game</button>   
<div class = "card"  >
                
<h2 id="gameTitle"></h2>   
<img src= "" id="mainImg">

  
                               
</div>



<h2> Is This The Game That You Wanted Friend?!</h2>


<div>
   <h3>You're Going To Want To Save Your Games To Your Personal Aracade Library Right?! Never Forget!</h3>
    


  <Button id="save"  class="gameBtn"> Save </Button>
</div>                            

  

<div class = "card" >
    <h3>Platform</h3>
        

     
      <p id="platform"></p>                                         





  </div>




<div class="card" >
   
  <h3> Game price </h3>
  <p id="price"></p>
 
     
</div>                           


<h2>Great choice but what do you think of these?!</h2>

<div class ="gameArray"> 


 
  
  
              
   <div class ="card3">                                              
     <div class="description"><h1>  </h1></div>
       <div class="gameRef" >
       <img id="game1" src ="../../Images/OIP4.jpg"/></div>
 </div>                                                                      
 
              
              
             
 <div class ="card3">                                                   
     <div class="description"><h1>  </h1></div>
        <div class="gameRef" >
       <img id="game2" src="../../Images/R3.png"/></div>
 </div>                                                                       



 <div class ="card3">                                                   
     <div class="description"><h1>  </h1></div>
        <div class="gameRef">
        <img id="game3" src="../../Images/R5.png"/></div>
       
 </div>              


 <div class ="card3">                                                   
     <div class="description"><h1>  </h1></div>
        <div class="gameRef">
          <img id="game4" src="../../Images/R6.png"/></div>
  </div>               

             
      



<div>                                                                       
  

                          
<footer> 
  
  You Have Great Taste In Games!

</footer>

</div>  
<script src ="../../public/js/Index.js"></script>
 </body>
 </html>



